@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- Modal -->
<div class="modal fade" id="addCityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add City</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name">City Name</label>
                        <input type="text" class="form-control" id="cityName" placeholder="City Name">
                    </div>
                    <div class="form-group">
                        <label for="description">City Description</label>
                        <textarea id="cityDescription" class="form-control" placeholder="City Description" cols="40" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btnSaveCity" type="button" class="btn btn-primary">Save City</button>
            </div>
        </div>
    </div>
</div>